amqp==5.1.1
asgiref==3.4.1
async-timeout==4.0.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.7.1
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.6
cryptography==38.0.4
Django==3.2.16
django-admin-honeypot==1.1.0
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-cors-headers==3.13.0
django-environ==0.9.0
django-extensions==3.1.3
django-formtools==2.4
django-otp==1.1.4
django-phonenumber-field==6.4.0
django-supervisor==0.4.0
django-timezone-field==5.0
django-tinymce==3.5.0
django-two-factor-auth==1.14.0
django-webpush==0.3.4
docutils==0.14
environ==1.0
gunicorn==20.1.0
http-ece==1.1.0
idna==3.3
importlib-metadata==4.13.0
kombu==5.2.4
numpy==1.21.6
phonenumberslite==8.13.3
Pillow==9.2.0
prompt-toolkit==3.0.36
psycopg2==2.9.3
py-vapid==1.9.0
pycparser==2.21
Pygments==2.12.0
python-crontab==2.6.0
python-dateutil==2.8.2
python-decouple==3.5
pytz==2022.1
pywebpush==1.9.4
qrcode==7.3.1
redis==4.4.0
requests==2.27.1
sendmail==2.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
supervisor==4.2.4
typing_extensions==4.4.0
tzdata==2021.5
urllib3==1.26.8
vine==5.0.0
watchdog==2.2.0
wcwidth==0.2.5
whitenoise==5.3.0
zipp==3.11.0
