    body {
        background: #e3e8e9;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        scroll-behavior: smooth;
    }
    
    .mysite {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 90%;
        transform: translate(-50%, -50%);
        background-color: white;
        text-align: left;
        z-index: 1;
        opacity: 1;
        box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);
        overflow: hidden;
        transition: 1s ease-in-out;
    }
    
    #header {
        position: fixed;
        width: 100%;
        height: 10%;
        background-image: linear-gradient(to bottom right, rgb(0, 255, 34), rgb(52, 107, 59));
        margin: auto;
        padding: 0px;
        top: 0;
        left: 0;
        align-items: center;
        line-height: 5px;
        z-index: 5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-top: 1px solid gray;
        overflow: hidden;
    }
    
    #navbarlinks {
        position: fixed;
        top: 7%;
        right: 0;
        width: 100%;
        background: white;
        z-index: 4;
        text-align: center;
        transform: translateX(-100%);
        transition: 1s ease-in-out;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
        background-image: linear-gradient(to bottom left, rgb(0, 255, 34), rgb(52, 107, 59));
        opacity: 0.9;
    }
    
    #navbarlinks li {
        list-style: none;
        margin: 26px 0px;
        text-decoration: none;
        color: rgb(255, 250, 250);
        letter-spacing: 2px;
    }
    
    #navbarlinks .navli {
        text-decoration: none;
        color: rgb(255, 250, 250);
        letter-spacing: 2px;
        font-size: medium;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .active {
        background: rgb(12, 107, 3);
        padding: 8px 7px;
    }
    
    .loginview {
        position: fixed;
        top: 7.7%;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to bottom right, rgb(0, 255, 34), rgb(52, 107, 59));
        height: 63px;
        text-align: center;
        z-index: 4;
        display: block;
        letter-spacing: 2px;
        font-weight: lighter;
        color: white;
    }
    
    #backgroundCover {
        position: absolute;
        background-color: rgb(201, 166, 166);
        z-index: 17;
        width: 100%;
        height: 100%;
        display: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }
    
    .background {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: fit-content;
        transform: translate(-50%, -50%);
        background: rgb(6, 117, 52);
        color: white;
        text-align: center;
        z-index: 10;
        padding-bottom: 20px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    }
    
    .background .subCode {
        background-color: green;
        color: white;
        border-radius: 6px;
    }
    
    #toggle-menu {
        position: absolute;
        display: block;
        top: 0;
        width: 30px;
        height: 100%;
        background: rgb(255, 255, 255);
        right: 0;
        z-index: 5;
        margin-right: 20px;
    }
    
    #search {
        position: relative;
        top: -10%;
        left: -30%;
        width: 100%;
        z-index: 5;
        height: 40%;
    }
    
    .logo {
        margin-left: 6%;
        max-width: 70px;
        height: 40px;
    }
    
    #submitttsearch {
        position: absolute;
        left: 90%;
        top: 20%;
    }
    
    #searchbox {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        opacity: 0.9;
        padding: 3px;
        outline: none;
        border-radius: 10px;
        font-size: larger;
    }
    
    #topsearch {
        position: absolute;
        top: 10%;
        min-height: 25%;
        width: 99%;
        border-bottom: 2px groove grey;
        opacity: 1;
        z-index: 1;
    }
    
    #suggestions {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        overflow-x: scroll;
        overflow-y: hidden;
        height: 190px;
        opacity: 0;
        transition: 1s ease-in;
    }
    
    #advertTp {
        width: 100%;
        height: 180px;
        opacity: 0;
    }
    
    #advertTp img {
        width: 102%;
        height: 104%;
    }
    
    #topsellers {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        overflow-x: scroll;
        overflow-y: hidden;
        height: 180px;
        opacity: 0;
        transition: 1s ease-in;
    }
    
    .suggestPic {
        min-width: 110px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        text-align: center;
        margin: -3px 5px 5px 0px;
    }
    
    .sellertPic {
        min-width: 200px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        text-align: center;
        margin-left: -105px;
    }
    
    .start {
        margin-left: 50px;
    }
    
    .suggestPic img {
        max-width: 103px;
        height: 133px;
        max-height: 133px;
        margin: 0px auto;
        margin-top: 19px;
        border-radius: 5px;
        border: 2px solid violet;
    }
    
    .sellertPic img {
        max-width: 70px;
        max-height: 70px;
        margin: 0px auto;
        margin-top: 10px;
        border-radius: 630px;
        border: 2px solid violet;
    }
    
    .suggestPic h6,
    .sellertPic h6 {
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(8, 12, 8);
    }
    
    #searchcover {
        position: absolute;
        top: 9.3%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #c1c4cf;
        opacity: 0.9;
        z-index: 4;
        transform: translateY(-130vh);
        transition: 1.5s ease-in;
        overflow-y: scroll;
    }
    
    .scontent {
        min-width: 150px;
        width: 150px;
        height: 150px;
        background: white;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        border-radius: 15px;
        text-align: center;
        margin: 25px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
    
    .propicp {
        width: 30px;
        height: 30px;
        border: 1px groove rgb(0, 0, 0);
        border-radius: 150px;
        left: 0;
        cursor: pointer;
        margin: 7px 0px;
        z-index: 1;
        overflow: hidden;
    }
    
    .scontent h2 {
        font: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #closesearch {
        position: absolute;
        margin-top: 10px;
        left: 90%;
        font-size: large;
        color: red;
    }
    
    #section {
        position: absolute;
        top: 7.3vh;
        left: 0%;
        display: none;
        opacity: 1;
        width: 100%;
        height: 99%;
        z-index: 1;
        margin: 0px auto;
        background-color: rgb(255, 255, 255);
        overflow: scroll;
    }
    
    #section h4 {
        border-bottom: 1px groove #676b81;
        padding: 10px;
    }
    
    .account {
        width: 90%;
        margin: 0px auto;
        height: fit-content;
        opacity: 1;
        background: white;
        margin-bottom: 60px;
        border-radius: 5px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    
    .account .inputs {
        display: grid;
        grid-template-columns: repeat(1, 10fr);
        border: none;
        margin-bottom: 44px;
        border-bottom: 1px solid black;
        font-size: 16px;
        height: 20px;
        padding: 10px;
        width: 90%;
    }
    
    .account input:last-child {
        border-bottom: none;
        margin-bottom: 30px;
        border: none;
        width: 90%;
        text-align: center;
        height: 30px;
        background: rgb(0, 255, 76);
        color: #fff;
        margin-left: 12px;
        font-size: 16px;
        border-radius: 5px;
    }
    
    #wrap {
        position: fixed;
        top: 37.5%;
        width: 100%;
        height: 60%;
        left: 0;
        padding-top: 35px;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: scroll;
        background-color: #fff;
        border-top: 2px groove grey;
        opacity: 1;
        z-index: 1;
        scroll-behavior: smooth;
    }
    
    .pos1 {
        box-shadow: 0 29px 29px rgba(29, 29, 25, 0.25);
        background: white;
        min-width: 150px;
        min-height: 340px;
        max-height: 340px;
        margin: 4px;
        display: grid;
        margin-bottom: 9;
        grid-template-columns: repeat(1, 3fr);
    }
    
    .offline {
        position: absolute;
        z-index: 2;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        background-color: rgb(29, 44, 29);
        border: 1px solid white;
    }
    
    .online {
        position: absolute;
        z-index: 2;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        background-color: green;
        border: 1px solid white;
    }
    
    .productSpec {
        display: none;
        grid-template-columns: repeat(1, 9fr);
        z-Index: -3;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 0vh;
        left: 14%;
        width: 74%;
        height: fit-content;
        overflow-x: hidden;
    }
    
    .productSpecDescription {
        padding: 20px;
        border-left: 5px groove aqua;
        border-right: 5px groove aqua;
        background-color: rgb(204, 197, 197);
        border-radius: 10px;
    }
    
    .productSpecpiclist {
        list-style: decimal;
        margin-bottom: 24px;
        border: 1px solid black;
    }
    
    .productSpecsugest {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
        overflow: scroll;
    }
    
    .productSpecsStags {
        padding: 10px;
        color: rgb(255, 0, 0);
        background-color: antiquewhite;
        margin-left: 23px
    }
    
    .a {
        text-decoration: none;
        color: blue;
        cursor: none;
        font-size: small;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    
    .article {
        position: relative;
        background: #ffffff;
        text-align: center;
        height: 155px;
        overflow: hidden;
        max-height: 220px;
    }
    
    .slidep {
        width: 99%;
        height: 99%;
        max-width: 200px;
        max-height: 170px;
        border: 1px solid rgb(88, 77, 12);
        z-index: 1;
        overflow: hidden;
    }
    
    .slidep img {
        max-height: 200px;
    }
    
    .pricinp {
        background-color: #ffffff;
        font-size: medium;
        color: #91792b;
        letter-spacing: 9px;
        max-height: 50px;
        z-index: 1;
    }
    
    .describe {
        position: relative;
        width: 100%;
        letter-spacing: 1px;
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        background: #ffffff;
        z-index: 1;
    }
    
    @media screen and (max-width: 1000px) {
        #submitttsearch {
            left: 86%;
        }
    }
    
    @media screen and (max-width: 964px) {
        #search {
            position: absolute;
            top: 18%;
            left: 20%;
            height: 100%;
        }
        #searchbox {
            position: absolute;
            width: 50%;
            height: 43%;
            left: 0%;
        }
        #submitttsearch {
            position: absolute;
            top: 10%;
            left: 45%;
        }
        .artic {
            height: 70vh;
        }
    }
    
    @media screen and (max-width: 670px) {
        .scontent {
            width: 60%;
            left: -15%;
        }
    }
    
    @media screen and (max-width: 590px) {
        .mysite {
            width: 100%;
            height: 100%;
        }
        .productSpec {
            left: 0vw;
            width: 100%;
        }
        #submitttsearch {
            position: absolute;
            top: 10%;
            left: 43%;
        }
        #wrap {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (max-width: 440px) {
        .scontent {
            width: 80%;
            left: -35%;
        }
        .logo {
            margin-left: 7px;
        }
    }