    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        scroll-behavior: smooth;
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }
    
    #searchcover {
        position: fixed;
        top: 0%;
        display: none;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        z-index: 4;
        transition: 1.5s ease-in;
    }
    
    .topdealsdiv {
        width: 100%;
        height: 300px;
        position: relative;
        top: -90px;
        z-index: 1;
        text-align: center;
        overflow: hidden;
    }
    
    .topdealimg {
        width: 200px;
        z-index: 1;
        height: 180px;
        overflow-x: hidden;
        position: absolute;
        left: 0%;
        border-radius: 24px 24px;
    }
    
    .Fprodisplay {
        height: 170px;
        width: 290px;
        margin-top: 25px;
        border-radius: 5px 5px 8px 8px;
        margin-left: 10px
    }
    
    .Fprodisplay img {
        width: 100%;
        border-radius: 5px;
        height: 100%;
    }
    
    .post {
        margin: 0px auto;
        width: 200px;
        height: 250px;
        overflow: hidden;
    }
    
    .postimg {
        width: 100px;
        height: 100px
    }
    
    .postdesc {
        width: 70%;
    }
    
    .post4store {
        width: 120px;
    }
    
    .buy4student {
        text-align: center;
        width: 150px;
        height: 230px;
        background-color: rgb(0, 255, 21);
        border-radius: 9px;
        margin: 10px 15%;
    }
    
    .buy4student img {
        width: 75%;
        margin: 4px 20px;
        height: 45%;
        border-radius: 100px;
    }
    
    #closesearch {
        position: absolute;
        margin-top: 10px;
        left: 90%;
        font-size: large;
        color: red;
    }
    
    .account .inputs {
        display: grid;
        grid-template-columns: repeat(1, 10fr);
        border: none;
        margin-bottom: 44px;
        border-bottom: 1px solid black;
        font-size: 16px;
        height: 20px;
        padding: 10px;
        width: 90%;
    }
    
    .account input:last-child {
        border-bottom: none;
        margin-bottom: 30px;
        border: none;
        width: 90%;
        text-align: center;
        height: 30px;
        background: rgb(0, 255, 76);
        color: #fff;
        margin-left: 12px;
        font-size: 16px;
        border-radius: 5px;
    }
    
    #wrapper {
        position: relative;
        width: 100%;
        left: 0;
        background-color: #fff;
        z-index: 1;
        padding-top: 35px;
        top: 450px;
        overflow-x: hidden;
        opacity: 1;
        scroll-behavior: smooth;
    }
    
    #wrap {
        width: 100%;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: #fff;
        opacity: 1;
        z-index: 1;
        margin-top: 5px;
        overflow-x: hidden;
    }
    
    .pos1 {
        box-shadow: 0 29px 29px rgba(29, 29, 25, 0.25);
        background: white;
        min-width: 100px;
        min-height: 140px;
        max-height: 340px;
        margin: 3px;
        display: grid;
        margin-bottom: 9;
        grid-template-columns: repeat(1, 3fr);
        text-align: center;
    }
    
    .offline {
        position: absolute;
        z-index: 2;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        background-color: rgb(29, 44, 29);
        border: 1px solid white;
    }
    
    .online {
        position: absolute;
        z-index: 2;
        border-radius: 30px;
        width: 10px;
        height: 10px;
        background-color: green;
        border: 1px solid white;
    }
    
    .propicp {
        width: 20px;
        height: 20px;
        border: 1px groove rgb(0, 0, 0);
        border-radius: 150px;
        left: 0;
        cursor: pointer;
        margin: 7px 0px;
        z-index: 1;
        overflow: hidden;
    }
    
    .productSpec {
        grid-template-columns: repeat(1, 9fr);
        z-Index: -5;
        opacity: 0;
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0vh;
        left: 14%;
        width: 74%;
        height: 100%;
        overflow-x: hidden;
        transition: 0.4s ease-in;
    }
    
    #specImgs {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    
    .productSpecpiclist {
        position: relative;
        width: 350px;
        height: 350px;
        margin: 0px auto;
        overflow: hidden;
    }
    
    .productSpecsugest {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
        overflow: scroll;
    }
    
    .productSpecsStags {
        padding: 10px;
        color: rgb(255, 0, 0);
        margin-left: 23px
    }
    
    .a {
        text-decoration: none;
        color: blue;
        cursor: none;
        font-size: x-small;
        font-weight: lighter;
        letter-spacing: 1px;
        margin-top: 10px;
    }
    
    .article {
        position: relative;
        background: #ffffff;
        height: 155px;
        overflow: hidden;
        max-height: 100px;
    }
    
    .slidep {
        max-width: 99px;
        max-height: 150px;
        z-index: 1;
        overflow: hidden;
    }
    
    .slidep img {
        max-height: 100px;
    }
    
    .pricinp {
        background-color: #ffffff;
        font-size: small;
        color: #91792b;
        letter-spacing: 1px;
        max-height: 50px;
        z-index: 1;
    }
    
    .describe {
        position: relative;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 9pt;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: lighter;
        background: #ffffff;
        z-index: 1;
        overflow: hidden;
    }
    
    @media screen and (max-width: 964px) {
        .artic {
            height: 70vh;
        }
    }
    
    @media screen and (max-width: 590px) {
        .productSpec {
            left: 0%;
            width: 100%;
            height: 100%;
        }
        #wrap {
            grid-template-columns: repeat(3, 1fr);
        }
    }