{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="{% static 'practise.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <title> Women leather hand bag , purses , cross bags , waist bag , school bag  and more ....  </title>

    <meta
      name="description"
      content="bags help spice up your dressing and fashion style we sell different variety from
      tote bags, purses , waist bag and clutch bags click now to get one."
    />
  </head>
</html>

<body>
    <div style="height:50px;">
      <div style="position:absolute;top:3%; right:4%;">
          <a href="{% url 'home' %}"><i style="color: black;" class="fa fa-arrow-left"></i></a>
      </div>
    </div>

    <h5>Bag Collectionns </h5>
   
    <div  style="position:relative; height:fit-content;">
      <div id ="productConCov">
      {% for i in products %}
        <div class="productcover">
           <h5 class='seokit'> shop school bag for students resuming | ladies hand bag for sale at discount price | quality hand bags | tote bags design | school bags</h5>
        {%for j in pictures %}{%if i.id == j.product_id %}
        <div class="productimg">
          <img src="{{ j.product_img.url }}" alt="image here" />
        </div>
        {%endif%} {%endfor%}
        <div class="productdetails">
                   <h5>{{i.description|slice:"0:40"}} <span style='color:green' onclick="location.href ='{% url 'productspec' i.id %}';">see more  ...</span></h5>

          <h5>{{i.searchTag}}</h5>
          <h3>N{{i.price}}.00</h3>
          <h6 style="color: #ff9966">
            <a
              href="tel:{{i.user.contact}}" 
              onclick="displayNum({{i.user.contact}})"
              style="color: #66ff66; margin-left: 20px: text-decoration:none;"
              ><i class="fa fa-phone"></i> contact seller
            </a>
          </h6>
        </div>
       </div>
       {%endfor%}
      </div>
    </div>

   
    <div class="suggestions">
      <h4> frequently searched </h4>
      <div class="suggestedProduct">
        {%for i in suggest %}
        <div onclick="location.href ='{% url 'productspec' i.id %}';">
          {% for j in suggestPic %}
          {%if i.id == j.product_id %}
          <img src="{{j.product_img.url}}" alt="image here" />
             {% endif %}{% endfor %}
          <h4> {{i.searchTag}} <h4>
        </div>
        {% endfor %}
    </div>
    
    <div style = "font-family:sans-serif;font-size:11px; margin:65px;" >
       <h3 style="padding:0px;">
          <span style="color: brown;">TIPs to succeed</span><br><br>
       <p class="tipswriteup">
            payment should be made after concrete agreement with seller.
       </p>
       <p class="tipswriteup">
            meeting and delivering point should always be in an open place within the school premises.
        </p>
        <p class="tipswriteup">
            remember to always drop a review on user after buying or selling.
        </p>
        <p class="tipswriteup">
              read reviews on user and be convinced enough before making any contact.
        </p>
        <p class="tipswriteup">
          remember to always delete unavailable products.
        </p>

        <p class="tipswriteup">
           describe your product Properly with the right words and watch your product rank better 
        </p>
        <p class="tipswriteup">
            <span style="color: red;"> NOTE </span> Users who can be identified by their profile picture maybe more trust worthy than the others.
        </p>
        <p class="tipswriteup">
            <span style="color: red;"> purchased </span> your online market place.
        </p>
      </h3>
    </div>

    <h5 class="seokit"> designer crossing bag in unisex avaailable in different colors and sizes </h5>
    <div class="productlist" style="position:relative; width:100%; margin:0% auto;">
      <h3 style="margin-left: 20px"> TRENDING ADS </h3>
      <div id ="productConCov">
       {% for i in trending %}
        <div class="productcover">
        {%for j in trendingPic %}{%if i.id == j.product_id %}
        <div class="productimg">
          <img src="{{j.product_img.url}}" alt="image here" />
        </div>
        {%endif%} {%endfor%}
        <div class="productdetails">
          <h5>{{i.description|slice:"0:40"}} <span style='color:green' onclick="location.href ='{% url 'productspec' i.id %}';">see more  ...</span></h5>
          <h5>{{i.searchTag}}</h5>
          <h3>N{{i.price}}.00</h3>
          <h6 style="color: #ff9966">
            <a
              href="tel:{{i.user.contact}}" 
              onclick="displayNum({{i.user.contact}})"
              style="color: #66ff66; margin-left: 20px;text-decoration:none;"
              ><i class="fa fa-phone"></i> contact seller
            </a>
          </h6>
        </div>
       </div>
       {%endfor%}
      </div>
      </div>

   <div class="numberDisp">
        <p id="numberDisp">
        </P>
           <button onclick='closenumdisp()'>close</button>
   </div>

</body>
<script src="{% static 'practise.js' %} ">
</script>