<style>
  h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
<body>
  <h1>simple steps to get start selling on shopatpurchased</h1>
  <p>
    Do you really want to sell that product,you can just head over to our
    platform ,register to get an account then visit your profile. just tht easy
  </p>
  <br />
  <a href="{{context}}"
    ><button
      style="
        color: white;
        background-color: blue;
        width: 80px;
        height: 60px;
        border-radius: 10px;
        text-align: center;
      "
    >
      SIGN UP
    </button></a
  >
</body>
