{% load static %}
<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="{% static 'purchased.css' %}" />
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>purchased</title>
    <style>
        header {
            min-height: 55vh;
            align-items: center;
            width: auto;
        }
        
        .form {
            margin-top: 10%;
        }
        
        #section {
            position: fixed;
            top: 0vh;
            left: 0%;
            display: none;
            opacity: 1;
            width: 100%;
            height: 100%;
            z-index: 3;
            margin: 0px auto;
            background-color: grey;
            overflow-x: hidden;
        }
        
        #section h4 {
            border-bottom: 1px groove #ffffff;
            padding: 10px;
        }
        
        .account {
            width: 37%;
            margin: 0px auto;
            height: fit-content;
            opacity: 1;
            color: rgba(255, 255, 255, 0.952);
            margin-bottom: 60px;
            border-radius: 5px;
            box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25);
            background: linear-gradient(#0005, #0005),
            url("{% static 'background.jpeg' %}");
            text-align: center;
        }
        
        @media screen and (max-width: 800px) {
            .account {
                width: 80%;
            }
        }
        
        @media screen and (max-width: 380px) {
            .form {
                margin-top: 0%;
            }
        }
    </style>
</head>
<div style="display: none; width:100%;overflow:hidden; position:absolute;">
    <img id="img1" src="{% static 'background.jpeg' %}" alt="">
    <img id="img2" src="{% static 'wardrope.jpg' %}" alt="">
    <img id="img3" src="{% static 'PURCHASED.jpg' %}" alt="">
</div>

<body draggable="true">
    <!--header nav and search-->
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <div class="container-fluid">
            <img src="{% static 'logopurchase.png' %}" alt="" width="30" height="24" />
            <a class="navbar-brand" href="#">SHOPATPURCHASED</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link" onclick="secdisplay()" href="#">JOIN UP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="probt()" href="#">MY PROFILE</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"> SIGN OUT</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"> SIGN IN</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <img id="header" style="width:100%; height:49vh; position:absolute; z-index:-1; left:0;" src="" alt="">
        <div class="container">
            <h1 style="color :rgba(20, 87, 6, 0.726);padding-top:60px; font-size: medium; text-align:center;" class="h1">
                Find Products and Services around your campus </h1>
            <form class="form">
                <div class="row">
                    <div class="col-md-4">
                        <input class="form-control" id="searchinput" placeholder="search product / services">
                    </div>
                    <div class="col-md-4">
                        <select class="form-select" aria-label="Default select example">
                            <option selected> All categories </option>
                            <option value="1"> Asun Ofada </option>
                            <option value="11"> Bags </option>
                            <option value="6"> Bedsheets </option>
                            <option value="5"> Crotchet Wears </option>
                            <option value="2"> Food </option>
                            <option value="3"> Graphics and Design </option>
                            <option value="7"> Google Voice </option>
                            <option value="4"> Jeans </option>
                            <option value="10"> Leggings </option>
                            <option value="5"> Necklace and Jewelries </option>
                            <option value="8"> Senator Materials </option>
                            <option value="9"> Shirt Gown </option>
                            <option value="6"> Women Suits </option>
                            <option value="9"> Wigs </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button style="z-index: 6;" id="submitttsearch" onclick="submitSearcsignals(1)" class="btn btn-outline-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </header>

    <!--head bar-->
    <div id="searchcover">

    </div>
    <!--head bar-->
    <!-- end header nav and search-->



    <!--create aacount-->
    <section id="section">
        <div class="close">
            <a href="#" onclick="homebt()"> <i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div class="account">

            <h4> Create an<span style="color: rgb(21, 255, 0);"> Account</span> <i class="fa fa-user-circle"></i>
            </h4>
            <form method="POST" class="getdetails" enctype="multipart/form-data">{% csrf_token %} {{form1}} {{form2}}

                <label for="file"> upload profile picture</label><br>
                <input type="file" name="eproimages" accept=".jpg,.png,.PNG,.JPG" required>
                <br><br><br />
                <input type="submit" value="CREATE" />
            </form>
        </div>
    </section>
    <!-- end create account-->


    <!-- Product suggestions-->

    <div class="category" style="position:relative; top:-90px; height:200px; width:100%;overflow-x:hidden; z-index:2;">
        <div class="firstproductdisplay" style="display:grid; grid-template-columns: repeat(5, 5fr); overflow-x:scroll;">
            <div class="Fprodisplay" onclick="submitSearcsignals(2)">
                <img src="{% static 'fashion.jpg' %}" alt="">
            </div>
            <div class="Fprodisplay" onclick="submitSearcsignals(3)">
                <img src="{% static 'food.jpg' %}" alt="">
            </div>
            <div class="Fprodisplay" onclick="submitSearcsignals(4)">
                <img src="{% static 'cereals.jpg' %}" alt="">
            </div>
            <div style="border: 2px groove rgb(255, 255, 255);" class="Fprodisplay" onclick="submitSearcsignals(5)">
                <img src="{% static 'phones.jpg' %}" alt="">
            </div>
            <div style="border: 2px groove rgb(255, 255, 255);" onclick="secdisplay()" class="Fprodisplay">
                <img src="{% static 'signin.jpg' %}" alt="">
            </div>
        </div>
    </div>

    <!-- Top Deals-->
    <div id="topdealsdiv" class="topdealsdiv">
        <div style="overflow:hidden; position: absolute; width:100%;height:100%; z-index:2;">
            <br><br><br>
            <h3> TOP DEALS </h3> <br>
            <div style="width: 85%; height:300px; overflow-x:hidden; position:relative; background-color:rgb(255, 255, 255); margin:0px auto;border-radius:24px 24px;">
                <div id="slidedivImg" style="width: 65%; z-index:1; height:300px; overflow-x:hidden; position:relative; top:-2%; left:0%; background-color:rgb(255, 255, 255);border-radius:24px 24px;">

                </div>
                <div style="width: 45%; z-index:1; height:305px; overflow-x:hidden; position:absolute; top:-1%; right:0%; background-color:rgb(255, 255, 255);;border-radius:25.5px 25.5px;">
                    <br>

                    <div id="descriptopdeals" style="position:relative; height:70%; top:0%; left:0%; width:100%;overflow:hidden;background-color:rgb(255, 255, 255);">
                    </div>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <!-- End Top Deals -->

    <!--Random suggestions-->
    <div style="width: 100%; height:700px; position:relative;top:-80px; z-index:1; background-color:rgb(243, 243, 243); padding-left:30px; padding-bottom: 40px;">
        <br>
        <h4 style="text-align: center;">SUGGESTED CHECK NOW </h4><br>
        <h6 style="text-align: center;"> Products and Services </h6> <br><br>
        <div id="suggestproduct" style="display: grid; grid-template-columns: repeat(2, 2fr); margin:0 auto; width:100%">
            {% for i in suggestions %}
            <article data="{{i.id}}" onclick="product_spec(this)" class="post">
                {% for j in suggestionImg %} {% if j.product_id == i.id %}
                <img class="postimg" src="{{ j.product_img.url }}" alt=""> {% endif %} {% endfor %}
                <p class="postdesc">{{i.searchTag}}</p>
                <p>N{{i.price}}</p>
            </article>
            {% endfor %}
        </div>
    </div>
    <!-- end Random suggestions-->

    <!--USER STORE -->
    <div style="width: 100%; height:350px; position:relative;top:-70px; z-index:1; background-color:rgb(255,
        255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
        <h4 style="margin-left: 40px;">{{userstore2productsImg.0}}</h4><br>
        <h6 style="margin-left: 40px;"> market</h6>
        <div style=" overflow-y:hidden;">
            <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                {% for i in userstore2products%}
                <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                    {%for j in userstore2productsImg %}{%if i.id == j.product_id %}
                    <img class="postimg" src="{{j.product_img.url}}" alt=""> {% endif %}{%endfor%}
                    <p class="postdesc">{{i.searchTag}}</p>
                    <p style="color:gold;">N{{i.price}}</p>
                </article>
                {%endfor%}
            </div>
        </div>
    </div>
    <br>
    <div style="width: 100%; height:350px; position:relative;top:-70px; z-index:1; background-color:rgb(255,
        255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
        <h4 style="margin-left: 40px;">{{userstore3productsImg.0}}</h4><br>
        <h6 style="margin-left: 40px;"> market</h6>
        <div style=" overflow-y:hidden;">
            <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                {% for i in userstore3products%}
                <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                    {%for j in userstore3productsImg %}{%if i.id == j.product_id %}
                    <img class="postimg" src="{{j.product_img.url}}" alt=""> {% endif %}{%endfor%}
                    <p class="postdesc">{{i.searchTag}}</p>
                    <p style="color:gold;">N{{i.price}}</p>
                </article>
                {%endfor%}
            </div>
        </div>
    </div> <br>
    <div style="width: 100%; height:350px; position:relative;top:-70px; z-index:1; background-color:rgb(255,
        255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
        <h4 style="margin-left: 40px;">{{userstore1productsImg.0}}</h4><br>
        <h6 style="margin-left: 40px;"> market</h6>
        <div style=" overflow-y:hidden;">
            <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                {% for i in userstore1products%}
                <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                    {%for j in userstore1productsImg %}{%if i.id == j.product_id %}
                    <img class="postimg" src="{{j.product_img.url}}" alt=""> {% endif %}{%endfor%}
                    <p class="postdesc">{{i.searchTag}}</p>
                    <p style="color:gold;">N{{i.price}}</p>
                </article>
                {%endfor%}
            </div>
        </div>
    </div>
    <div style="width: 100%; height:350px; position:relative;top:-50px; z-index:1; background-color:rgb(255,
        255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
        <h4 style="margin-left: 40px;">{{userstore4productsImg.0}}</h4><br>
        <h6 style="margin-left: 40px;"> market</h6>
        <div style=" overflow:scroll;">
            <div style="display: grid; grid-template-columns: repeat(15, 1fr); height:330px;">
                {% for i in userstore4products%}
                <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                    {%for j in userstore4productsImg %}{%if i.id == j.product_id %}
                    <img class="postimg" src="{{j.product_img.url}}" alt=""> {% endif %}{%endfor%}
                    <p class="postdesc">{{i.searchTag}}</p>
                    <p style="color:gold;">N{{i.price}}</p>
                </article>
                {%endfor%}
            </div>
        </div>
    </div>


    <!-- End User Store-->


    <div style=" position:relative;height:200px; width:100%; overflow:hidden;" onclick="submitSearcsignals(6)">
        <img style="width:60%; height:300px; position:absolute; top:-40%; left:-5%;" src="{% static 'graphicdesigng.jpg' %}" alt="">
        <p style="position: absolute; right:0%;"> NEED A GRAPHIC ARTIST ?<br> CONTACT ONE TODAY..<br>
            <button style="color:rgb(255, 255, 255); border-radius:4px; background-color:green;">
                CLICK ME
            </button>
        </p>
    </div>

    <div id="buystucover" style="width: 100%; color:white; height:200px; position:relative; top:-40px; z-index:1; background-color:rgb(15, 185, 29); box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
        <br>
        <h3 style="margin-left:10px"> BUY FROM A STUDENT </h3><br>
        <h6 style="margin-left:10px"> contact a seller </h6>
        <div style="display: grid; grid-template-columns: repeat(2, 2fr); overflow-x:hidden; width:100%;">
            {% for i in buyfromstudent %}
            <div data-id="{{i.id}}" onclick="propicclick(this)" class="buy4student">
                <img src="{{i.profilepic.url}}" alt="">
                <p class="buytxt" style="color: white;"><i class="fa fa-male"></i><i class="fa fa-female"></i>{{i.gender}}</p>
                <h6 class="buytxt" style="color: white;">{{i.about}}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Product suggestions-->


    <h2 style="position:relative; top:450px;"> RECENT ADS </h2>


    <!--all post-->
    <div id="wrapper">
        <br>
        <div id="wrap" draggable="true">
            {% for i in products %}
            <div class="pos1" data=5>
                <a href="#" class="a">{{i.username}}</a>
                <div style="margin:0px auto">
                    {% if i.online %}
                    <div class="online"></div>
                    {%else%}
                    <div class="offline"></div>
                    {%endif%}
                    <img class="propicp" onclick="propicclick(this)" {% if user.is_authenticated %} data-id="{{i.user_id}}" {%endif%} src="{{i.profile_pic.url}}" alt="" />
                </div>
                <div class='article' data=5>
                    {% if i.matricverified %}
                    <h5 style="position: absolute; top:-5%; right:7%; color:rgb(47, 0, 255);"> <i class="fa fa-star"></i></h5>
                    {%endif%} {% if i.topuser %}
                    <h5 style="position: absolute; top:-5%; right:7%; color:gold;"> <i class="fa fa-star"></i></h5>
                    {%endif%} {% for j in images %} {% if i.id == j.product_id %}
                    <img class="slidep" onclick="product_spec(this)" data={{i.id}} src="{{ j.product_img.url }}" alt="">{% endif %}{% endfor %}
                </div>
                <div class="describe">
                    {{i.searchTag}}...
                </div>
                <div class="pricinp">
                    N{{i.price}}
                </div>
            </div>
            {%endfor%}
        </div>
        <footer style="width: 100%; margin-top:60px; background-color:green; color:white;border-radius:10px 10px; padding:20px;">
            <a style="color: white;" href="tel:09079681347"><i class="fa fa-phone"
                    style="font-size: 40px; margin-right:100%; position:absolute; left:70%;"></i></a>
            <a style="color: white;" href="https://www.instagram.com/purchased.tech/"><i class="fa fa-instagram"
                    style="font-size: 40px;"></i></a>
            <p style="text-align: center;">All Rights© shopatpurchased.com</p>
        </footer>
    </div>

    <!--all post-->


    <!--view product spec-->
    <div class="productSpec" id="productSpec">
        <div class="close">
            <a href="#" onclick="closespec()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div id="specPropic" style="margin:50px 60%; width:100%;">
        </div>
        <div id="specImgs" style="height: fit-content;">
        </div>
        <h3 id="specDescription" class="productSpecDescription">
        </h3>
        <div id="contactView" style="margin: 0px auto; width:100%; padding:6px; ">
            {% if user.is_authenticated %}
            <div id="contctdiv">
            </div>
            {% else %}
            <h3 class="contactnumber" style='display:none; text-align:center;'>
                <span style="color:red; font-size:medium; margin:20px;"> please create an account and signin to view
                    contact </span>
            </h3><br><br>
            <button onclick="msg(this)" style="width: 100%; margin-bottom:30px; color:white;height:30px; border-radius:15px; background-image: linear-gradient(to bottom right, rgb(0, 255, 34), rgb(52, 107, 59));">contact
                seller</button> {% endif %}

        </div>

        <div style="margin-top : 40px; display:grid; grid-template-columns:repeat(2,2f);">
            <span class="productSpecsStags" style="color:rgb(51, 5, 5);">frequent searched Tags : </span>
            <span class="productSpecsStags">Bedsheets</span>
            <span class="productSpecsStags">Food</span>
            <span class="productSpecsStags"> graphics and design </span>
            <span class="productSpecsStags"> leggings </span>
        </div>
        <br>
        <h2>Suggestions</h2> <br> {% if user.is_authenticated%} {%else%}
        <p style="color: brown;"> Kindly JOIN UP / LOGIN to view product details </p>
        {% endif %}
        <br>
        <br>
        <div class="productSpecsugest" id="productSpecsugest">
        </div>
        <br><br><br>
        <div>
            <h3 style=" padding:20px">
                <span style="color: brown;">TIPs to succeed</span><br><br>
                <li>
                    payment should be made after concrete agreement with seller.
                </li>
                <li>
                    meeting and delivering point should always be in an open place within the school premises.
                </li>
                <li>
                    remember to always drop a review on user after buying or selling.
                </li>
                <li>
                    read reviews on user and be convinced enough before making any contact.
                </li>

                <li>
                    it is adviseable to transact with users who have been verified by matric number for better security.
                </li>
                <li>
                    <span style="color: red;"> NOTE </span> Users who can be identified by their profile picture maybe more trust worthy than the others.
                </li>
                <li>
                    <span style="color: red;"> purchased </span> your online market place.
                </li>
            </h3>
        </div>
        <br>
        <br>

        <div class="footer" style="width:100%; height:30px;  border-top:1px solid grey; text-align:center;">
            <a href="https://www.instagram.com/purchased.tech/"><i class="fa fa-instagram"
                    style="font-size: 20px;">follow on instagram </i></a>
        </div>
    </div>
    <!--end view product spec-->


    <!--MY STORE API DISPLAY-->
    <div id="apimyStore">
    </div>
    <!--END MY STORE API DISPLAY-->

    <!-- Dsiplay review message-->
    <div id="msgDisplay" style="display:none; background-color:white; top:0%; left:0%; position: absolute; width:100%; height:100%; z-index:-5; overflow-x:hidden;">
        <div class="close" onclick=" closemsgDisplay()">
            <a href="#"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>

        <div id="msgplace" style="margin-top:24%; height: 18%;">
        </div>
        <div id="reviewplace" style="position: absolute; top:35%; margin:0px auto; height:40%;text-align:center; width:100%;">
        </div>
    </div>
    <!--End Dsiplay review message-->

    <!--profile-->
    <div id="profile" draggable="true">
        <div class="close">
            <a href="#" id="close" onclick="homebt()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div class="mystore" id="mystore">
            <a class="mystoreLinks" href="" id="advertBtn">
                Advertisements
            </a>

            <br>
            <br>
            <a class="mystoreLinks" href="#" onclick="ApiDisMsg(this)" id="msgBtn">
                Message
            </a>
            <br>
            <br>
            <a class="mystoreLinks" href="" id="reportbugBtn">
                Report Bug or Suggestions
            </a><br><br>
            <a class="mystoreLinks" href="" id="reportusaBtn">
                Report User
            </a>
            <br>
            <br>
            <a class="mystoreLinks" href="" id="termscdBtn">
                Terms and conditions
            </a><br> <br>
            <a class="mystoreLinks" href="" id="tipsBtn">
                Tips to Succeed
            </a><br> <br>
            <a class="mystoreLinks" href="" id="deactBtn">
                Deactivate Account
            </a><br> <br>
        </div>

        <div id="bigpic-overlay" onclick="propicture(event)">
            <img src="" title="Click anywhere to close" alt="image picture" id="bigpropic" />
        </div>

        <div id="cover" class="cover">
        </div>
        <div class="allinfo" id="allinfo">
        </div>
        <div id="contactSeller">
        </div>
        <div id="changedp">
            <form action="/changedp/" method="POST" enctype="multipart/form-data">{%csrf_token%}
                <label for="uppropic">change profile picture<i class="fa fa-upload"></i></label>
                <br>
                <br>
                <input type="file" name="imagesdp" accept=".jpg,.png,.PNG,.JPG" required>
                <input type="submit" value="change">
            </form>
        </div>
        <div id="advertImg">
        </div>


        <div class="recentpost">
            <h3>Recent Post</h3>
            <div id="recentpost">
            </div>
        </div>
        <div class="review">
            <h3>Reviews</h3>
            <br>
            <h5> <i style="font-size:nedium;" class="fa fa-arrow-right"></i> <i style="font-size:nedium;" class="fa fa-arrow-right"></i></h5>
            <div id="reviewP">
            </div>
        </div>

    </div>
    <!--profile-->


    <div id="viewpost" draggable="true">
        <div class="close">
            <a href="#" id="close" onclick="disapp()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div id="marpicDelete">
            <p>Are you sure you want to delete this post ? </p><br>
            <button id="delprod" onclick="ApiDelete(this)">delete</button>
            <button onclick="closedel()">cancel</button>
        </div>
        <br><br><br>
        <div id="forpost">
        </div>
    </div>


    <!--upload products-->
    <div id="products">
        <div class="close">
            <a href="#" onclick="disapp()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div class="upldpro" id="upldpro">

            {% if user.is_authenticated %}
            <form id="upldpro_form" action="/addPost/" method="POST" enctype="multipart/form-data" id="uploadproduct">
                {% csrf_token %}
                <h5 style="color: rgb(0, 0, 0); letter-spacing:2px; "> <span style="color: red;">UPLOAD </span> PRODUCT/SERVICES
                </h5>
                <br>
                <label>Enter Price </i></label>
                <br>
                <br>
                <input type="number" name=price required>
                <br>
                <br>
                <label>Search Tag</i></label> <br>
                <br>
                <textarea name="desc" cols="30" rows="5" required maxlength="30 " placeholder="eg shoes, caps, phones, iphone six , graphic designer, programmer..max 20 words "></textarea>
                <br><br>
                <label>Detailed Description <i class="fa fa-tag "></i></label> <br>
                <br>
                <textarea name="desc1" cols="30" rows="5" required maxlength="4000" placeholder="Describe Product Properly, specifications and why your product or service stands out... max 500 words"></textarea>
                <br>
                <br>
                <div id="image">
                    <label for="uppropic">Upload product Image <i class="fa fa-upload"></i></label>
                    <br>
                    <br>
                    <input type="file" name="images" accept=".jpg,.png,.PNG,.JPG" required>
                </div><br>
                <input type="button" id="addImage" onclick="myclick()" value="Add"> <br><br>
                <input type="submit" value="post" id="submit" />
            </form>

            {% endif %}
        </div>
    </div>
    <!--end upload products-->
    </div>
</body>

</html>
<script src="https:/code.jquery.com/jquery-3.3.1.js "></script>
<script src="{% static 'purchasednav.js' %} "></script>
<script src="{% static 'profile.js' %} "></script>
<script src="{% static 'viewmore.js' %} "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>

<script>
    let submittsearch = document.getElementById("submitttsearch");


    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function propicclick(elem) {
        if (elem.getAttribute('data-id') == null || elem.getAttribute('data-id') == -1) {
            alert('please login to view users profile or contact')
            return false
        }
        let tabs = document.querySelectorAll('.tabs li a')
        let tabcontents = document.querySelectorAll('.tab-cotents li');
        let target = parseInt(elem.getAttribute('data-id'));

        fetch('{% url "profileUpdate" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target
                        }
                    }) //JavaScript object of data to POST
            })
            .then(response => {
                return response.json().then(data => {
                        if (!data.profileupdate) {
                            return false
                        }
                        if (data.profileupdate) {
                            addtoMyProfile(data.userdetail, data.data1, data.images, data.reviews, update =
                                true, data.advert)
                            addtoMyproduct(data.data1, data.images)
                        }
                        displayRemove()
                        profile.style.opacity = 1;
                        profile.style.zIndex = 2;

                    }) //Convert response to JSON
            })
    }

    function probt() {
        let upldpro_form = document.getElementById('upldpro_form')
        if (upldpro_form == -1 || upldpro_form == null) {
            alert("please login to view user's profile")
            return false
        }
        displayRemove()
        fetch('{% url "myprofile" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                },

            })
            .then(response => {
                return response.json().then(data => {
                        if (data) {
                            if (data == null || data == -1) {
                                return false
                            }
                            addtoMyProfile(data.userdetail, data.data1, data.images, data.reviews, update =
                                false, data.advert)
                            addtoMyproduct(data.data1, data.images, update = true)
                            profile.style.opacity = 1;
                            profile.style.zIndex = 2;
                        }
                    }) //Convert response to JSON
            })
    }

    //function yhandler() {
    //  let wrap = document.getElementById('wrap');
    //let wrapper = document.getElementById('wrapper');
    //wrapper.onscroll = (event) => {
    //  wrapper.style.scrollBehavior = 'smooth'

    //if (wrapper.scrollTop + wrapper.offsetHeight + 100 > wrap.offsetHeight) {

    //  fetch("{% url 'userList' %} ", {
    //        headers: {
    //          'Accept': 'application/json',
    //        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
    //  },
    // })
    // .then(response => {
    // return response.json().then((data) => {
    //   displaypost(data.data, data.pictures)
    //})
    // })
    //  }
    // }
    // }

    function product_spec(elem) {
        let searchcover = document.getElementById("searchcover");
        searchcover.style.display = "none"
        let data = parseInt(elem.getAttribute('data'));

        fetch('{% url "productspec" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            data
                        }
                    }) //JavaScript object of data to POST
            })
            .then(response => {
                return response.json().then(data => {
                        updateProductspec(data.data1, data.images, data.Sproduct, data.Simages, data.contact,
                            data.userthatwascontacted)
                    }) //Convert response to JSON
            })
    }

    function msg(elem) {
        let seler = elem.getAttribute('seller'),

            contactnumber = [...document.getElementsByClassName('contactnumber')];
        contactnumber.forEach(contact => {
            contact.style.display = 'block'
        })
        fetch('{% url "contacted" %}', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                    'post_data': {
                        seler
                    }
                }) //JavaScript object of data to POST
        }).then(response => {
            return response.json().then(data => {

                }) //Convert response to JSON
        })

    }


    function ApiDelete(elem) {
        let target = parseInt(elem.getAttribute('data'));
        fetch('{% url "delete" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target
                        }
                    }) //JavaScript object of data to POST
            })
            .then(response => {
                return response.json().then(data => {
                        let deleteMsg = [...document.getElementsByClassName('deleteMsg')];
                        let del = deleteMsg.find((item) => parseInt(item.getAttribute('data')) == target);
                        let div = del.parentNode;
                        div = div.parentNode
                        div.parentNode.removeChild(div)
                        let marpicDelete = document.getElementById('marpicDelete');
                        marpicDelete.style.display = 'none'
                    }) //Convert response to JSON
            })
    }

    function signals(elem) {
        let target = elem.getAttribute('signal');
        let contacted = elem.getAttribute('contacted'),
            user_review = elem.getAttribute('user_review'),
            reviewdata = document.getElementById('reviewdata').value,
            msgid = elem.getAttribute('msgid');

        fetch('{% url "signals" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target,
                            contacted,
                            user_review,
                            reviewdata,
                            msgid
                        }
                    }) //JavaScript object of data to POST
            })
            .then(response => {
                return response.json().then(data => {
                        let msgDisplay = document.getElementById('msgDisplay');
                        msgDisplay.style.display = 'none'
                        msgDisplay.style.zIndex = -5
                    }) //Convert response to JSON
            })
    }


    function ApiDisMsg(elem) {
        fetch('{% url "getMsgs" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                },

            })
            .then(response => {
                return response.json().then(data => {
                        getmsg(data.message)
                    }) //Convert response to JSON
            })
    }

    function suggest() {
        fetch('{% url "suggest" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                },
            })
            .then(response => {
                return response.json().then(data => {
                        topdealdiv(data.productsrotateImg, data.products)
                        suggestproduct(data)
                    }) //Convert response to JSON
            })
    }

    function submitSearcsignals(signal) {
        event.preventDefault()
        let target = ''
        let target2 = ''
        if (signal == 1) {
            target = 1
            target2 = document.getElementById("searchinput").value;
        }
        if (signal == 2) {
            target = 2
        }
        if (signal == 3) {
            target = 3
        }
        if (signal == 4) {
            target = 4
        }
        if (signal == 5) {
            target = 5
        }
        if (signal == 6) {
            target = 6
        }

        fetch('{% url "search" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target,
                            target2
                        }
                    }) //JavaScript object of data to POST
            })
            .then(response => {
                return response.json().then((data) => {
                    if (data.yes) {
                        searchengine(data, yes = true, data.images)
                    } else {
                        searchengine(data)

                    }
                })
            }) //Convert response to JSON
    }
</script>