{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="{% static 'purchased.css' %}" />
    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title> ecommerce website for lasuites </title>

    <meta name="description" content="This is a free platform where students and people staying close to lagos state university campuses
    can buy,sell and advertise their products / services easily,get contact of selller now" />
    <style>
        header {
            height: 40vh;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
        }
        
        @media screen and (max-width: 380px) {
            .form {
                margin-top: 0%;
            }
        }
    </style>
</head>

<body draggable="true">
    <div id="body">
        <div style="display: none; z-index:-10; width:100px; overflow:hidden; position:absolute;">
            <img id="img1" src="{% static 'backgd.png' %}" alt="buy from student">
            <img id="img2" src="{% static 'wadrope.png' %}" alt="promo sales are on">
            <img id="img3" src="{% static 'PURCHASED.jpg' %}" alt="bring five students and get 1000 naira">
        </div>

        <div id="spinnerdiv">
            <div class="loader"></div>
        </div>
        <div class="sidebar">
            <header>
                <div style="display:grid; grid-template-columns:repeat(2,1fr)">
                    <img src="{% static 'logopurchase.png' %}" alt="shopatpurchased logo" width="210px" height="100px" />
                    <img src="{% static 'closebar.png' %}" alt="closebar" id="closesidebar" class="navbarclick" />
                </div>
            </header>
            <ul style="position:relative;left:-12%; width:112%">
                <li> <a href="{% url 'register' %}"> SIGN UP </a></li>
                <li><a href="#" onclick="probt()"> MY PROFILE </a> </li>
                <li> <a href="#"> BLOG </a></li>
                <li> <a href="tel:09079681347"> CONTACT SUPPORT </a></li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}"> SIGN OUT </a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}"> SIGN IN </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <!--header nav and search-->

        <nav style="background-image: linear-gradient(#ff0084, #2a0518); width: 100%;   padding-bottom: 20px;">
            <div style="width: 100%;">

                <div style="display:grid; grid-template-columns:repeat(2,1fr)">
                    <img src="{% static 'logopurchase.png' %}" alt="shopatpurchased logo" width="fit-content" height="104px" />
                    <img src="{% static 'navbar.png' %}" alt="navbar" id="opensidebar" class="navbarclick" />
                </div>
                <div id="navbarScroll">
                    <ul id="navlinkul">
                        <li>
                            <a class="navlink" href="{% url 'register' %}"> SIGN UP </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="navlink" href="{% url 'logout' %}"> SIGN OUT </a>
                        </li>
                        {% else %}
                        <li>
                            <a class="navlink" href="{% url 'login' %}"> SIGN IN </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="navlink" onclick="probt()" href="#"> MY PROFILE </a>
                        </li>

                        <li>
                            <a class="navlink"> BLOG </a>
                        </li>
                    </ul>
                </div>
            </div>

            <input id="searchinput" placeholder="   search product / services / username         ">

            <button style="z-index: 6;" id="submitttsearch" onclick="submitSearcsignals(1)" class="btn btn-outline-success">Search</button>

        </nav>

        <header>
            <img id="header" style="width:100%; height:40vh; position:absolute;" src="" alt="promo sales">
        </header>

        <!--head bar-->
        <div id="searchcover">

        </div>
        <!--head bar-->
        <!-- end header nav and search-->


        <!-- Product suggestions-->

        <div class="category" style="position:relative; height:200px; width:104%; border-radius:6px; left:2%; overflow-x:hidden; z-index:2; border:0.3px solid rgb(139, 139, 139);">
            <div class="firstproductdisplay" style="display:grid; grid-template-columns: repeat(5, 5fr); overflow-x:scroll;">
                <div class="Fprodisplay" onclick="submitSearcsignals(2)">
                    <img src="{% static 'fashion.jpg' %}" alt="fashion store">
                </div>
                <div class="Fprodisplay" onclick="submitSearcsignals(3)">
                    <img src="{% static 'food.jpg' %}" alt="food store">
                </div>
                <div class="Fprodisplay" onclick="submitSearcsignals(4)">
                    <img src="{% static 'cereals.jpg' %}" alt="cereals store">
                </div>
                <div style="border: 2px groove rgb(255, 255, 255);" class="Fprodisplay" onclick="submitSearcsignals(5)">
                    <img src="{% static 'phones.jpg' %}" alt="phone store">
                </div>
                <div style="border: 2px groove rgb(255, 255, 255); padding-right:35px;" class="Fprodisplay">
                    <a href="{% url 'register' %}">
                        <img src="{% static 'signin.jpg' %}" alt="register now">
                    </a>
                </div>
            </div>
        </div>

        <!-- Top Deals-->
        <!-- End Top Deals -->

        <!--Random suggestions-->

        <div style="width: 100%; height:800px; position:relative;top:10px; z-index:1; background-color:rgb(243, 243, 243); padding-left:30px; padding-bottom: 40px;">
            <br>
            <h4 style="text-align: center;">SUGGESTED CHECK NOW </h4><br>
            <h6 style="text-align: center;"> Products and Services </h6> <br><br>
            <div id="suggestproduct" style="display: grid; grid-template-columns: repeat(2, 2fr); margin:0 auto; width:100%">
            </div>
        </div>


        <!-- end Random suggestions-->

        <!--USER STORE -->
        <div style="width: 100%; height:fit-content; position:relative; z-index:1; background-color:rgb(255, 255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
            <h4 style="margin-left: 10px;">{{userstore2productsImg.0}}</h4><br>
            <h6 style="margin-left: 40px;"> market</h6>
            <div style=" overflow-y:hidden;">
                <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                    {% for i in userstore2products%}
                    <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                        {%for j in userstore2productsImg %}{%if i.id == j.product_id %}
                        <img class="postimg" src="{{j.product_img.url}}" alt="{{i.description|slice:'0:40'}}"> {% endif %}{%endfor%}
                        <p class="postdesc"> {{i.description|slice:"0:40"}} ... </p>
                        <p class="pricesugg">N{{i.price}}</p>
                    </article>
                    {%endfor%}
                </div>
            </div>
        </div>
        <br>
        <div style="width: 100%; height:fit-content; position:relative; top:-23px; z-index:1; background-color:rgb(255, 255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
            <br>
            <h4 style="margin-left: 10px;">{{userstore3productsImg.0}}</h4><br>
            <h6 style="margin-left: 40px;"> market </h6>
            <div style=" overflow-y:hidden;">
                <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                    {% for i in userstore3products%}
                    <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                        {%for j in userstore3productsImg %}{%if i.id == j.product_id %}
                        <img class="postimg" src="{{j.product_img.url}}" alt="{{i.description|slice:'0:40'}}"> {% endif %}{%endfor%}
                        <p class="postdesc"> {{i.description|slice:"0:40"}} ... </p>
                        <p class="pricesugg">N{{i.price}}</p>
                    </article>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div style=" position:relative;height:200px; width:100%; margin-top:30px; overflow:hidden;" onclick="submitSearcsignals(6)">
            <img style="width:60%; height:300px; position:absolute; top:-40%; left:-5%;" src="{% static 'graphicdesigng.jpg' %}" alt="get graphic services">
            <p style="position: absolute; right:0%;"> NEED A GRAPHIC ARTIST ?<br> CONTACT ONE TODAY..<br>
                <button style="color:rgb(255, 255, 255); border-radius:4px; background-color:green;">
                    CLICK ME
                </button>
            </p>
        </div> <br>
        <div style="width: 100%; height:fit-content; position:relative;top:-70px; z-index:1; background-color:rgb(255,
        255, 255); overflow-y:hidden; box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
            <h4 style="margin-left: 10px;">{{userstore1productsImg.0}}</h4><br>
            <h6 style="margin-left: 40px;"> market</h6>
            <div style=" overflow-y:hidden;">
                <div style="display: grid; grid-template-columns: repeat(15, 1fr);">
                    {% for i in userstore1products%}
                    <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                        {%for j in userstore1productsImg %}{%if i.id == j.product_id %}
                        <img class="postimg" src="{{j.product_img.url}}" alt="{{i.description|slice:'0:40'}}"> {% endif %}{%endfor%}
                        <p class="postdesc"> {{i.description|slice:"0:40"}} ... </p>
                        <p class="pricesugg">N{{i.price}}</p>
                    </article>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div style="width: 100%; height:fit-content; position:relative;top:-70px; z-index:1;overflow:hidden; background-color:rgb(255, 255, 255);box-shadow: 0px 15px 15px rgba(12, 12, 0.55, 0.55);">
            <h4 style="margin-left: 10px;">{{userstore4productsImg.0}}</h4><br>
            <h6 style="margin-left: 40px;"> market</h6>
            <div style=" overflow:scroll;">
                <div style="display: grid; grid-template-columns: repeat(15, 1fr); height:330px;">
                    {% for i in userstore4products%}
                    <article data="{{i.id}}" onclick="product_spec(this)" class="post4store">
                        {%for j in userstore4productsImg %}{%if i.id == j.product_id %}
                        <img class="postimg" src="{{j.product_img.url}}" alt="{{i.description|slice:'0:40'}}"> {% endif %}{%endfor%}
                        <p class="postdesc"> {{i.description|slice:"0:40"}} ... </p>
                        <p class="pricesugg">N{{i.price}}</p>
                    </article>
                    {%endfor%}
                </div>
            </div>
        </div>

        <!-- End User Store-->

        <!--all post-->
        <div id="wrapper">
            <h1 style="margin-left: 20px;"> RECENT ADS</h1>
            <br>
            <div id="wrap" draggable="true">
                {% for i in products %}
                <div class="pos1" data=5>
                    <a href="#" class="a">{{i.username}}</a>
                    <div style="margin:0px auto">
                        {% if i.online %}
                        <div class="online"></div>
                        {%else%}
                        <div class="offline"></div>
                        {%endif%}
                        <img class="propicp" onclick="propicclick(this)" {% if user.is_authenticated %} data-id="{{i.user_id}}" {%endif%} src="{{i.profile_pic.url}}" alt="{{i.username}}" />
                    </div>
                    <div class='article' data=5>
                        {% if i.matricverified %}
                        <h5 style="position: absolute; top:-5%; right:7%; color:rgb(47, 0, 255);"> <i class="fa fa-star"></i>
                        </h5>
                        {%endif%} {% if i.topuser %}
                        <h5 style="position: absolute; top:-5%; right:7%; color:gold;"> <i class="fa fa-star"></i>
                        </h5>
                        {%endif%} {% for j in images %} {% if i.id == j.product_id %}
                        <img class="slidep" onclick="product_spec(this)" data={{i.id}} src="{{ j.product_img.url }}" alt="{{i.description|slice:'0:40'}}"> {% endif %} {% endfor %}
                    </div>
                    <div class="describe">
                        {{i.searchTag}}...
                    </div>
                    <div class="pricinp">
                        N{{i.price}}
                    </div>
                </div>
                {%endfor%}
            </div>
            <footer style="width: 100%;text-align: center; margin-top:60px; background-image: linear-gradient(#ff0084, #2a0518); color:white; padding:20px;">

                <p style="text-align: center;"> ALL RIGHTS©SHOPATPURCHASED </p>
                <a style="text-align: center; text-decoration:none; color:rgb(52, 52, 165);" href="#body"> BACK TO TOP
                </a>
            </footer>
        </div>
    </div>
    <!-- end all post-->



    <!--view product spec-->
    <div class="productSpec" id="productSpec">
        <div class="settingsHeader">
            <br>
            <br>
            <div class="close">
                <a href="#" onclick="closespec()"><i style="color: rgb(255, 255, 255);"
                        class="fa fa-arrow-left"></i></a>
            </div>
            <h3 style="color: white;"> SHOPATPURCHASED </h3>
        </div>
        <br><br><br>
        <div id="specPropic" style="margin:50px 60%; width:100%;">
        </div>
        <div id="specImgs" style="height: fit-content;">
        </div>
        <h3 id="specDescription" class="productSpecDescription">
        </h3>
        <div id="contactView" style="margin: 0px auto; width:80%;">
            {% if user.is_authenticated %}
            <div id="contctdiv">
            </div>
            {% else %}
            <h3 class="contactnumber" style='display:none; text-align:center;'>
                <span style="color:red; font-size:medium; margin:20px;"> please create an account and signin to view
                    contact </span>
            </h3><br><br>
            <button onclick="msg(this)" style="width: 100%; margin-bottom:30px; color:white;height:30px; border-radius:15px; background-image: linear-gradient(to bottom right, rgb(0, 255, 34), rgb(52, 107, 59));">contact
                seller</button> {% endif %}

        </div>
        <br>
        <h2>Suggestions</h2> <br>
        <br>
        <br>
        <div class="productSpecsugest" id="productSpecsugest">
        </div>
        <br><br>
        <div>
            <h3 style="padding:0px;">
                <span style="color: brown;">TIPs to succeed</span><br><br>
                <p class="tipswriteup">
                    payment should be made after concrete agreement with seller.
                </p>
                <p class="tipswriteup">
                    meeting and delivering point should always be in an open place within the school premises.
                </p>
                <p class="tipswriteup">
                    remember to always drop a review on user after buying or selling.
                </p>
                <p class="tipswriteup">
                    read reviews on user and be convinced enough before making any contact.
                </p>
                <p class="tipswriteup">
                    remember to always delete unavailable products.
                </p>

                <p class="tipswriteup">
                    it is adviseable to transact with users who have been verified by matric number for better security.
                </p>
                <p class="tipswriteup">
                    <span style="color: red;"> NOTE </span> Users who can be identified by their profile picture maybe more trust worthy than the others.
                </p>
                <p class="tipswriteup">
                    <span style="color: red;"> purchased </span> your online market place.
                </p>
            </h3>
        </div>
        <br>
        <br>
        <h3> Top Deals </h3>

        <div id="topdealsp" class="topdeals">
        </div>
        <br>

        <div class="footer" style="width:100%; height:30px;  border-top:1px solid grey; text-align:center;"><br>
            <a href="https://www.instagram.com/purchased.tech/"><i class="fa fa-instagram" style="font-size: 20px;">
                    follow on instagram </i></a><br>
            <br>
        </div>
    </div>
    <!--end view product spec-->


    <!--MY STORE API DISPLAY-->

    <div id="apimyStore">
    </div>

    <!-- END MY STORE API DISPLAY-->

    <!--settings-->
    <div id="settings">
        <div class="settingsHeader">
            <br>
            <div class="close">
                <br>
                <a style="margin-top: 29px;" href="#" onclick="closesettings()"><i style="color: rgb(255, 255, 255);"
                        class="fa fa-arrow-left"></i></a>
            </div>
            <h3 style="color: white;"> SHOPATPURCHASED </h3>
        </div>
        <div class="settingsList">
            <p class="settingsworks" onclick="settingfunc(2)"> Change Password </p>
            <p class="settingsworks" onclick="settingfunc(3)"> Edit About </p>
            <p class="settingsworks" onclick="settingfunc(4)"> Edit Contact </p>
            <p class="settingsworks" onclick="settingfunc(5)"> Make Suggestion </p>
            <p class="settingsworks" onclick="settingfunc(6)"> Report User </p>
            <p class="settingsworks" onclick="settingfunc(7)"> Terms and Conditions </p>
            <p class="settingsworks" onclick="settingfunc(9)"> Deactive Account </p>
        </div>
        <div id="editpagetofserver">

        </div>
    </div>
    <!--end settings-->

    <!-- Dsiplay review message-->
    <div id="msgDisplay" style="display:none; background-color:white; top:0%; left:0%; position: fixed; width:100%; height:100%; z-index:-5; overflow-x:hidden;">
        <div class="close" onclick=" closemsgDisplay()">
            <a href="#"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>

        <div id="msgplace" style="margin-top:14%; height: 18%;">
        </div>
        <div id="reviewplace" style="position: absolute; top:35%; margin:0px auto; height:40%;text-align:center; width:100%;">
        </div>
    </div>
    <!--End Dsiplay review message-->

    <!--profile-->
    <div id="profile" draggable="true">
        <div class="close">
            <a href="#" id="close" onclick="homebt()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>

        <div id="bigpic-overlay" onclick="propicture(event)">
            <img src="" title="Click anywhere to close" alt="image picture" id="bigpropic" />
        </div>

        <div id="cover" class="cover">
        </div>
        <div class="allinfo" id="allinfo">
        </div>
        <div id="contactSeller">
        </div>
        <h3 style="width:100%; text-align:center;" id="uploadpostbtn">
            <a href="#" style="width: 80%;">
                <button onclick="producappear()" style="width: 70%; height:40px; border-radius:40px; border: 5px groove rgb(0, 255, 21); background-color:white; color:black;">
                    POST AD
                </button>
            </a>
        </h3>
        <br><br>
        <div id="changedp">
            <h5 style="text-align: center; color:red;"> change DP </h5><br>
            <form action="/changedp/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div style="height: 70%; width:100%">

                    <input type="file" name="imagesdp" style="width:98%; height:100%; background-color:rgb(255, 255, 255);border:none;" required accept=".jpg, .png, .JPG, .PNG">

                </div>
                <br>
                <div style="width: 100%; text-align:center; background-color:#ffffff; border-top:0.3px solid black; color:rgb(255, 0, 0);
                font-weight:700">
                    <input type="submit" value=SUBMIT>
                </div>
            </form>
        </div>
        <br><br>
        <div class="recentpost">
            <h3> Recent Post </h3>
            <div id="recentpost">
            </div>
        </div>

        <h3> Top Deals </h3>
        <div id="topdeals" class="topdeals">

        </div>

        <div class="review">
            <h3>Reviews</h3><br>
            <br>
            <h5> <i style="font-size:nedium;" class="fa fa-arrow-right"></i> <i style="font-size:nedium;" class="fa fa-arrow-right"></i></h5>
            <div id="reviewP">
            </div>
        </div>
        <div id="whatsapppromo" style="width: 100%;  text-align:center;">
            <a style="text-decoration: none; color:green;" href="https://api.whatsapp.com/send?text= find my product and services by searching my username '{{ usersDetails.username }}' on shopatpurchased.com" data-action="share/whatsapp/share">
                <i class="fa fa-whatsapp"></i> PROMOTE YOUR STORE ON WHATSAPP
                </span>
            </a>
        </div>
        <br>
        <br><br>
    </div>
    <!-- end profile-->


    <div id="viewpost" draggable="true">
        <div class="close">
            <a href="#" id="close" onclick="disapp()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div id="marpicDelete">
            <p>Are you sure you want to delete this post ? </p><br>
            <button id="delprod" onclick="ApiDelete(this)">delete</button>
            <button onclick="closedel()">cancel</button>
        </div>
        <br><br><br>
        <div id="forpost">
        </div>
    </div>


    <!--upload products-->
    <div id="products">
        <div class="close">
            <a href="#" onclick="disapp()"><i style="color: black;" class="fa fa-arrow-left"></i></a>
        </div>
        <div class="upldpro" id="upldpro">

            {% if user.is_authenticated %}
            <form id="upldpro_form" action="/addPost/" method="POST" enctype="multipart/form-data" id="uploadproduct">
                {% csrf_token %}
                <h5 style="color: rgb(0, 0, 0); letter-spacing:2px; "> <span style="color: red;">UPLOAD </span> PRODUCT/SERVICES
                </h5>
                <br>
                <label>Enter Price </i></label>
                <br>
                <br>
                <input type="number" name=price required>
                <br>
                <br>
                <label>Search Tag</i></label> <br>
                <br>
                <textarea name="desc" cols="30" rows="5" required maxlength="30 " placeholder="eg shoes, caps, phones, iphone six , graphic designer, programmer..max 20 words "></textarea>
                <br><br>
                <label>Detailed Description <i class="fa fa-tag "></i></label> <br>
                <br>
                <textarea name="desc1" cols="30" rows="5" required maxlength="4000" placeholder="Describe Product Properly, specifications and why your product or service stands out... max 500 words"></textarea>
                <br>
                <br>
                <div id="image">
                    <label for="uppropic">Upload product Image <i class="fa fa-upload"></i></label>
                    <br>
                    <br>
                    <input type="file" name="images" accept=".jpg,.png,.PNG,.JPG" required>
                </div><br>
                <input type="button" id="addImage" onclick="myclick()" value="Add"> <br><br>
                <input type="submit" value="post" id="submit" />
            </form>

            {% endif %}
        </div>
    </div>
    <!--end upload products-->
</body>

</html>
<script src="https:/code.jquery.com/jquery-3.3.1.js "></script>
<script src="{% static 'profile.js' %} "></script>
<script src="{% static 'viewmore.js' %} "></script>
<script>
    let submittsearch = document.getElementById("submitttsearch");

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function propicclick(elem) {
        if (elem.getAttribute('data-id') == null || elem.getAttribute('data-id') == -1) {
            alert('please login to view users profile or contact')
            return false
        }
        let tabs = document.querySelectorAll('.tabs li a')
        let tabcontents = document.querySelectorAll('.tab-cotents li');
        let target = parseInt(elem.getAttribute('data-id'));

        profile.scrollTop = '0px'
        profile.style.display = 'none'

        fetch('{% url "profileUpdate" %}', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                    'post_data': {
                        target
                    }
                }) //JavaScript object of data to POST
        }).then(
            spinner()
        ).then(response => {
            return response.json().then(data => {
                    closespinner()
                    let uploadpostbtn = document.getElementById('uploadpostbtn'),
                        whatsapppromo = document.getElementById('whatsapppromo');
                    uploadpostbtn.style.display = "none"
                    whatsapppromo.style.display = "none"
                    if (!data.profileupdate) {
                        return false
                    }
                    if (data.profileupdate) {
                        addtoMyProfile(data.userdetail, data.data1, data.images, data.reviews, update =
                            true, data.advert)
                        addtoMyproduct(data.data1, data.images)
                    }
                    displayRemove()
                    profile.style.display = 'block'
                }) //Convert response to JSON
        })
    }

    function probt() {
        profile.style.display = 'none'
        let upldpro_form = document.getElementById('upldpro_form')
        if (upldpro_form == -1 || upldpro_form == null) {
            alert("please login to view user's profile")
            return false
        }
        fetch('{% url "myprofile" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                }
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        let sidebar = document.querySelector('.sidebar'),
                            body = document.getElementById("body");
                        let uploadpostbtn = document.getElementById('uploadpostbtn'),
                            whatsapppromo = document.getElementById('whatsapppromo');
                        uploadpostbtn.style.display = "block"
                        whatsapppromo.style.display = "block"

                        let data1 = [];
                        let product = data.data1;
                        let i = 0;
                        while (i < product.length) {
                            data1.push(product[i])
                            i++
                        }
                        sidebar.style.left = "-80%"
                        body.style.left = "0%"
                        if (data) {
                            if (data == null || data == -1) {
                                return false
                            }
                            addtoMyProfile(data.userdetail, data1, data.images, data.reviews, update =
                                false, data.advert)
                            addtoMyproduct(data1, data.images, update = true)

                            displayRemove()
                            profile.style.display = 'block'
                            closespinner()

                        }
                    }) //Convert response to JSON
            })
    }

    //function yhandler() {
    //  let wrap = document.getElementById('wrap');
    //let wrapper = document.getElementById('wrapper');
    //wrapper.onscroll = (event) => {
    //  wrapper.style.scrollBehavior = 'smooth'

    //if (wrapper.scrollTop + wrapper.offsetHeight + 100 > wrap.offsetHeight) {

    //  fetch("{% url 'userList' %} ", {
    //        headers: {
    //          'Accept': 'application/json',
    //        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
    //  },
    // })
    // .then(response => {
    // return response.json().then((data) => {
    //   displaypost(data.data, data.pictures)
    //})
    // })
    //  }
    // }
    // }

    function product_spec(elem) {
        let data = parseInt(elem.getAttribute('data'));
        let spec = document.getElementById('productSpec');
        spec.style.display = 'none'
        fetch('{% url "productspec" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            data
                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        updateProductspec(data.data1, data.images, data.Sproduct, data.Simages, data.contact,
                            data.userthatwascontacted)
                        closespinner()
                    }) //Convert response to JSON
            })
    }

    function msg(elem) {
        let seler = elem.getAttribute('seller'),

            contactnumber = [...document.getElementsByClassName('contactnumber')];
        contactnumber.forEach(contact => {
            contact.style.display = 'block'
        })
        fetch('{% url "contacted" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            seler
                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        closespinner()
                    }) //Convert response to JSON
            })

    }

    function ApiDelete(elem) {
        let target = parseInt(elem.getAttribute('data'));
        fetch('{% url "delete" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target
                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        let deleteMsg = [...document.getElementsByClassName('deleteMsg')];
                        let del = deleteMsg.find((item) => parseInt(item.getAttribute('data')) == target);
                        let div = del.parentNode;
                        div = div.parentNode
                        div.parentNode.removeChild(div)
                        let marpicDelete = document.getElementById('marpicDelete');
                        marpicDelete.style.display = 'none'
                        closespinner()
                    }) //Convert response to JSON
            })
    }

    function signals(elem) {
        let target = elem.getAttribute('signal');
        let contacted = elem.getAttribute('contacted'),
            user_review = elem.getAttribute('user_review'),
            reviewdata = document.getElementById('reviewdata').value,
            msgid = elem.getAttribute('msgid');

        fetch('{% url "signals" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target,
                            contacted,
                            user_review,
                            reviewdata,
                            msgid
                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        let msgDisplay = document.getElementById('msgDisplay');
                        msgDisplay.style.display = 'none'
                        msgDisplay.style.zIndex = -5
                        closespinner()
                    }) //Convert response to JSON
            })
    }

    function ApiDisMsg(elem) {
        fetch('{% url "getMsgs" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                }
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then(data => {
                        getmsg(data.message)
                        closespinner()
                    }) //Convert response to JSON
            })
    }

    function suggest() {
        fetch('{% url "suggest" %}', {
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                },
            })
            .then(response => {
                return response.json().then(data => {
                        suggestproduct(data)

                    }) //Convert response to JSON
            })
    }

    function submitSearcsignals(signal) {
        event.preventDefault()
        let target = ''
        let target2 = ''
        if (signal == 1) {
            target = 1
            target2 = document.getElementById("searchinput").value;
        }
        if (signal == 2) {
            target = 2
        }
        if (signal == 3) {
            target = 3
        }
        if (signal == 4) {
            target = 4
        }
        if (signal == 5) {
            target = 5
        }
        if (signal == 6) {
            target = 6
        }

        fetch('{% url "search" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target,
                            target2
                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then((data) => {
                    if (data.yes) {
                        searchengine(data, yes = true, data.images)
                    } else {
                        searchengine(data)
                    }
                    closespinner()
                })
            }) //Convert response to JSON
    }


    function apisettings(sig) {
        event.preventDefault()
        let target = "";
        let target1 = "";

        if (sig == 2 || sig == 6) {
            target = document.getElementById('settingactionInput').value;
            target1 = document.getElementById('settingactionInput2').value;
        }


        if (sig == 3 || sig == 4 || sig == 5 || sig == 9) {
            target = document.getElementById('settingactionInput').value;
        }


        fetch('{% url "settings" %}', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                        'post_data': {
                            target,
                            sig,
                            target1

                        }
                    }) //JavaScript object of data to POST
            }).then(
                spinner()
            )
            .then(response => {
                return response.json().then((data) => {
                    editpagetofserver.innerHTML = ""
                    editpagetofserver.innerHTML =
                        `
                    <a href="#" onclick="settingeditoserverclose()"><i style="color: rgb(0, 0, 0);"
                            class="fa fa-arrow-left"></i>
                    </a>
                    <div style="height: 70%; width:100%">
                        <h1 style="text-align:center;"> ${data.data} </h1>
                    </div>
                    `
                    closespinner()
                })
            })

    }
</script>